/*題名*/
.admin-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.admin-form__heading {
    font-weight: 300;
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
}


/*本体*/

.form {
    margin: 0 auto;
    width: 100%;
    text-align: center;
}

.form__search {
    display: flex;
    margin-bottom: 30px;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
}

.form__search-content {
    margin-left: 25px;
}

.form__input--text input {
    width: 350px;
    box-sizing: border-box;
    padding: 10px 20px;
    border: 1px solid #E3DED9;
    background-color: #FBFBFB;
    color: #beb1a6;
    font-size: 16px;
}

/*性別選択*/
.form__select--gender {
    position: relative;
}

.form__select--gender::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border-top: 16px solid #E0DFDE;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
    pointer-events: none;
}

.form__select--gender select {
    padding: 10px 20px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-size: 17px;
    color: #8B7969;
    appearance: none; 
}

/*カテゴリ選択*/
.form__select--category {
    position: relative;
}
.form__select--category::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border-top: 16px solid #E0DFDE;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
    pointer-events: none;
}

.form__select--category select {
    width: 220px;
    padding: 10px 20px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-size: 17px;
    color: #8B7969;
    appearance: none; 
}

/*日付選択*/
.form__input--date {
    position: relative;
}

.form__input--date::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 10px;
    border-top: 16px solid #E0DFDE;
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    border-bottom: 0;
    pointer-events: none;
}

.form__input--date input {
    width: 150px;
    padding: 10px 10px;
    border: 1px solid #E3DED9;
    background-color: #F4F4F4;
    font-size: 17px;
    color: #8B7969;
    appearance: none; 
    position: relative;
}

.form__input--date input::-webkit-calendar-picker-indicator {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
}

/*検索ボタン*/
.search__button {
    margin-left: 25px;
}

.search__button-submit {
    padding: 7px 20px;
    border: 1px solid #8B7969;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #82756A;
}

/*リセットボタン*/
.search__reset {
    margin-left: 25px;
}

.search__reset-button {
    padding: 9px 20px;
    border: 1px solid #D9C6B5;
    color: #FFFFFF;
    background-color: #D9C6B5;
    text-decoration: none;
    font-size: 18px;
}

/*エクスポート*/
.buttons {
    display: flex;
    justify-content: space-between;
}

.export-button {
    margin: 0 25px;
}

.export-button-submit {
    padding: 8px 20px;
    border: none;
    background-color: #E1DBD699;
    color: #8B7969;
}

/*ページネーション*/
.paginate-button {
    margin: 0 50px;
}

.paginate-button nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.paginate-button .page-item {
    margin: 0;
    border: 1px solid #E0DFDE;
    border-right: none;
}

.paginate-button .page-item:first-child {
    border-radius: 5px 0 0 5px;
}

.paginate-button .page-item:last-child {
    border-right: 1px solid #E0DFDE;
    border-radius: 0 5px 5px 0;
}

.paginate-button .page-link {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 36px;
    height: 36px;
    padding: 0;
    font-size: 20px;
    color: #8B7969;
    text-decoration: none;
    border: none;
}

.paginate-button .page-item:first-child .page-link,
.paginate-button .page-item:last-child .page-link {
    font-size: 35px;
    min-width: 40px;    
}

.paginate-button .page-item.active .page-link {
    background-color: #8B7969;
    color: #FFFFFF;
}

.paginate-button .page-item.disabled .page-link {
    pointer-events: none;
}



/*一覧表*/
.admin-table {
    margin: 25px;
    width: 94%;
    text-align: left;
}

.admin-table__inner {
    width: 100%;
    table-layout: fixed;
    font-size: 17px;
}

.admin-table__row {
    display: flex;
    border-bottom: 1px solid #E0DFDE;
    width: 100%;
}


.admin-table__header {
    display: flex;
    /*justify-content: flex-start;*/
    padding: 12px 30px;
    width: 100%;
    color: #FFFFFF;
    background-color: #8B7969;
    font-weight: bold;
    /**/white-space: nowrap;
}

.admin-table__header-span {
    /**/text-align: left;
    /*margin-right: 60px;*/
    flex-basis: 16%;
}

.admin-table__header-span:nth-child(2) {
    flex-basis: 10%;
}

.admin-table__header-span:nth-child(3) {
    flex-basis: 37%;
}

.admin-table__header-span:nth-child(4) {
    flex-basis: 25%;
}

.admin-table__header-span:nth-child(5) {
    flex-basis: 15%;
}

.admin-table__header-span:last-child {
    display: none;
}

.content-table__name,
.content-table__gender,
.content-table__email,
.content-table__category,
.content-table__detail {
    display: flex;
    padding: 18px 30px;
    color: #8B7969;
    white-space: nowrap;
    text-align: left;
}

.content-table__name {
    flex-basis: 15%;
}

.content-table__gender {
    flex-basis: 10%;
}

.content-table__email {
    flex-basis: 35%;
}

.content-table__category {
    flex-basis: 28%;
}

.content-table__detail {
    flex-basis: 5%;
}

.space {
    padding: 5px;
}

.detail-button {
    padding: 5px 15px;
    color: #D9C6B5;
    border: 1px solid #D9C6B599;
    background-color: #F4F4F44D;
}



.customer-admin__reset-button {
    background-color: #6c757d;
}

.customer-admin__export-button {
    display: inline-block;
    padding: 8px 16px;
    border: none;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    margin-bottom: 20px;
}

.customer-admin__table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
}

.customer-admin__table-header,
.customer-admin__table-cell {
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.customer-admin__detail-link {
    color: blue;
    text-decoration: none;
}

.customer-admin__pagination {
    margin-top: 20px;
}

/*モーダルウィンドウ*/
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-window {
    background-color: white;
    padding: 30px;
    padding-bottom: 10px;
    border: 1px solid #8B7969;
    width: 80%;
    height: 85%;
    max-width: 800px;
    position: relative;
}

.window__close-button{
    position: absolute;
    top: 20px;
    right: 30px;
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 25px;
    border: 1px solid #8B7969;
    background-color: #FFFFFF;
    color: #8B7969;
    border-radius: 50%;
    cursor: pointer;
}

.window__close-button span {
    font-size: 25px;
}

.modal__table {
    width: 80%;
    margin: 80px auto;/*結構広くした*/
    margin-bottom: 20px;
}

.modal__row {
    height: 60px;
    color: #8B7969;
}

.modal__header,
.modal__item {
    vertical-align: top;
}

.modal__header {
    width: 30%;
}

.modal__item {
    width: 100%;
}

.delete__form {
    margin: 20px;
    text-align: center;
}

.delete-button {
    padding: 8px 15px;
    border: none;
    background-color: #BA370D;
    color: #FFFFFF;
}