.contact-form__content {
    margin: 0 auto;
    padding: 30px 15px;
    max-width: 1230px;
}

.contact-form__heading {
    font-weight: 300;
    color: #8B7969;
    margin-bottom: 40px;
    text-align: center;
    font-size: 35px;
}

.form {
    margin: 0 auto;
    width: 70%;
    text-align: center;
}

.form__group {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.form__label--item {
    font-size: 20px;
    color: #8B7969;

}

.form__label--required {
    color: #ff0000;
    font-size: 20px;
}

.form__error {
    margin: 5px 20px;
    font-size: 14px;
    color: #ff0000;
    text-align: left;
}

.form__group-content {
    width: 70%;
}

.form__input--text {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.name__input {
    margin-right: 40px;
}

.form__input--text input {
    width: 100%;
    margin: 0 20px;
    padding: 15px;
    border: none;
    background-color: #f4f4f4;
    color: #BEB1A6;
    height: 30px;
    appearance: none;
}

.tel__input {
    margin-right: 40px;
}

.form__group--category {
    display: flex;
    margin-bottom: 25px;
}


.form__select--category {
    position: relative;
    width: 30%;
    margin-left: 68px;
}

.form__select--category::after {
    content: "";
    position: absolute;
    top: 12px;
    right: 30px;
    border-top: 12px solid #BEB1A6;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 0;
    pointer-events: none;
}

.form__select--category select {
    padding: 7px 15px;
    width: 100%;
    height: 30px;
    font-size: 12px;
    border: none;
    background-color: #F4F4F4;
    color: #BEB1A6;
    appearance: none; 
    opacity: 0.8;
}

.form__input--textarea {
    width: 94%;
}


.form__input--textarea textarea {
    width: 100%;
    margin: 0 20px;
    padding: 10px;
    border: none;
    background-color: #f4f4f4;
    color: #BEB1A6;
    appearance: none;
    resize: none;
    height: 120px;
}

.form__input-radio {
    width: 70%;
    margin: 0 20px;
    display: flex;
    align-items: center;
}

.gender__radio {
    position: relative;
    display: block;
    padding-right: 28px;
    user-select: none;
}

.gender__radio input {
    display: none;
}

.gender__radio-mark {
    display: inline-block;
    padding: 5px 0 5px 30px;
    position: relative;
}

input:checked +.gender__radio-mark::after {
    opacity: 1;
}

.gender__radio-mark::before {
    content: '';
    display: block;
    width: 20px;
    height: 20px;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    border: 1px solid #8B7969;
    border-radius: 50%;
}

.gender__radio-mark::after {
    content: "";
    display: block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #8B7969;
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    opacity: 0;
}


.hyphen {
    align-items: center;
    margin-top: 6px;
}


.form__button-submit {
    background: #82756A;
    color: white;
    border: none;
    padding: 10px 30px;
    width: 15%;
    font-size: 16px;
    cursor: pointer;
}